

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
    /*  85 و 10 موقع السهم في  a*/
    background:url(../images/loginArrow.png) no-repeat 85px 10px;

}

/* Login Button Text */
#loginButton .span-login {
    font-size:14px;
    font-family:Hacen Algeria;
    text-shadow:1px 1px white;
    padding:7px 29px 9px 10px;
    display:block
}

/*#loginButton:hover {*/
    /*background:url(../images/buttonbgHover.png) repeat-x;*/
/*}*/

/* Login Box */
#loginBox {
    position:absolute;
    top:45px;
    right:0;
    display:none;
    /*z-index:29;*/
    margin-right: 8px
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active .span-login {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background: #e7e7e7;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 10px;
    float:right;
    padding:0;
    border:0;
}

#body .label-log {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:right;
    font-family: "Hacen Algeria";
}

#loginForm #body fieldset .label-log {
    display:block;
    float:right;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm .input-login {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
    float: right;
    text-align: right;
}

/* Sign In Button */
#loginForm #login {
    text-align: center;
    float:right;
    color:white;
    font-family: "Hacen Algeria";
    padding:7px 10px 8px 10px;
    background-color: #23a823;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}
#loginForm #login:hover{
    background-color: darkgreen;
}

/* Forgot your password */
#loginForm .span-login {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm .span-login .a-login {
    color:#141517;
    text-shadow:1px 1px #fff;
    font-size:12px;
    font-family :"Hacen Algeria";
}

.input-login:focus {
    outline:none;
}